{% layout "home" %}
{% block content %}

<div class="section-spot">
  <div class="row">

    <div class="large-12 columns">
      <h2 class="small-title">Legal</h2>
      <h1 class="spot-title white">Aviso de Privacidad</h1>
      <p class="medium white">Gracias por usar los productos y servicios de Rocket. Nuestros servicios son proporcionados a través de Rocket Dinarius S.A.P.I de CV (en adelante ¨Rocket¨). El uso de nuestros servicios implica la aceptaciones del Aviso de Privacidad. Léelas detenidamente antes de empezar a usar la herramienta.</p>
    </div>

  </div><!--/row-->
</div><!--/affirmation-->


<div class="content">
  <div class="row">
    <div class="large-3 medium-4 columns show-for-medium-up">
      <nav class="side-nav">
        <div class="side-nav-title">Legal</div>
        <ul class="side-nav-ul">
          <li><a href="https://rocket.la/mx/terminos-condiciones" title="Términos y Condiciones de uso de Rocket" class="active">Términos y Condiciones</a></li>
          <!-- <li><a href="https://rocket.la/mx/principios-privacidad" title="Principios de Privacidad Rocket">Principios de Privacidad</a></li> -->
          <li class="active"><a href="https://rocket.la/mx/aviso-privacidad" title="Políticas de Privacidad de Rocket">Aviso de Privacidad</a></li>
          <!-- <li><a href="https://rocket.la/mx/politicas-seguridad" title="Políticas de Seguridad Rocket">Políticas de Seguridad</a></li> -->
        </ul>
      </nav>
    </div>
    <div class="large-7 medium-8 small-12 end columns">
      <h4>¿Quiénes somos?</h4>
      <p>Rocket Dinarius, S. de R.L. de C.V. (“Rocket”), con domicilio en Chihuahua 230, Col. Roma, Del. Cuauhtémoc, C.P. 06700, México, D.F., es responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su protección. </p>

      <h4>¿Para qué usamos sus datos personales?</h4>
      <p>Su información personal será utilizada para proveer los servicios que ha solicitado, informar sobre cambios o nuevos servicios que estén relacionados con el contratado o adquirido por usted; dar cumplimiento a obligaciones contraídas con nuestros accionistas, nuestros clientes y las instituciones financieras con quienes trabajamos; evaluar la calidad del servicio prestado, y realizar estudios internos de mercado y estadísticos sobre los servicios que brindamos. </p>

      <h4>¿Qué tipo de información o datos personales recabamos?</h4>
      <p>Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales: </p>

      <ol><li>Correo electrónico</li><li>Número celular</li><li>Información financiera personal, tales como nivel de ingresos, gastos financieros y no financieros.</li></ol>

      <h4>¿Cuáles son sus derechos en relación con sus datos personales?</h4>
      <p>Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que hemos implementado. </p>

      <p>Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto al correo electrónico <a mailto="hola@rocket.la"></a> o visitar nuestra página de Internet en <a href="www.rocket.la">www.rocket.la</a>. </p>

      <h4>¿Qué transferencias de sus datos personales podemos hacer?</h4>
      <p>Asimismo, le informamos que sus datos personales pueden ser transferidos y tratados dentro y fuera del país, por personas distintas a esta empresa. En ese sentido, su información puede ser compartida con nuestros accionistas, empresas de nuestro grupo empresarial en el extranjero, las instituciones financieras u otros terceros con quienes tenemos celebrados contratos de servicio o de alianza comercial con cláusulas de confidencialidad y con nuestros acreedores, para dar cumplimiento a obligaciones contraídas con los mismos y/o para realizar estudios internos de mercado y estadísticos sobre los servicios que le brindamos. </p>

      <p>De igual forma sus datos personales pueden ser transferidos a las distintas autoridades gubernamentales federales y locales que lo requieran.</p>

      <p>Si usted no manifiesta su oposición para que sus datos personales sean transferidos, se entenderá que ha otorgado su consentimiento para ello. </p>

      <p><strong>No consiento que mis datos personales sean transferidos en los términos que señala el presente Aviso de Privacidad.</strong> </p>

      <h4>¿Cómo evitar recibir avisos o mensajes promocionales?</h4>
      <p>Si usted desea dejar de recibir mensajes promocionales de nuestra parte puede solicitarlo a través del correo electrónico <a mailto="hola@rocket.la"></a>.</p>

      <h4>¿Dónde puedo consultar las modificaciones que se hagan a este Aviso de Privacidad?</h4>
      <p>Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios. </p>

      <p>Cualquier modificación a este Aviso de Privacidad podrá consultarla en nuestra página de Internet <a href="www.rocket.la">www.rocket.la</a>.</p>

      <h4>¿Dónde puedo quejarme?</h4>
      <p>Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta de nuestros empleados o de nuestras actuaciones o respuestas, presume que en el tratamiento de sus datos personales existe alguna violación a las disposiciones previstas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, podrá interponer la queja o denuncia correspondiente ante el IFAI, para mayor información visite <a href="www.ifai.org.mx">www.ifai.org.mx.</a></p>
    </div>
  </div>
</div>

{% endblock %}