{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <header class="titanic">
        Nacido de la riqueza más íntima.
      </header>
      <header class="gigantic">
        Nacido de la riqueza más íntima.
      </header>
      <header class="great">
        Nacido de la riqueza más íntima.
      </header>
      <header class="large">
        Nacido de la riqueza más íntima.
      </header>
      <header class="medium">
        Nacido de la riqueza más íntima.
      </header>
      <header class="small">
        Nacido de la riqueza más íntima.
      </header>
      <header class="mini">
        Nacido de la riqueza más íntima.
      </header>
      <header class="tiny">
        Nacido de la riqueza más íntima.
      </header>
      <header class="micro">
        Nacido de la riqueza más íntima.
      </header>
      <header class="nano">
        Nacido de la riqueza más íntima.
      </header>
    </div>
  </div>


  <div class="row">
    <div class="small-12 columns">
      <p class="titanic">
        Nacido de la riqueza más íntima.
      </p>
      <p class="gigantic">
        Nacido de la riqueza más íntima.
      </p>
      <p class="great">
        Nacido de la riqueza más íntima.
      </p>
      <p class="large">
        Nacido de la riqueza más íntima.
      </p>
      <p class="medium">
        Nacido de la riqueza más íntima.
      </p>
      <p class="small">
        Nacido de la riqueza más íntima.
      </p>
      <p class="mini">
        Nacido de la riqueza más íntima.
      </p>
      <p class="tiny">
        Nacido de la riqueza más íntima.
      </p>
      <p class="micro">
        Nacido de la riqueza más íntima.
      </p>
      <p class="nano">
        Nacido de la riqueza más íntima.
      </p>
    </div>
  </div>
{% endblock %}