{% layout "home" %}
{% block content %}


<div class="section-spot">
  <div class="row">

    <div class="large-10 columns">
      <h2 class="small-title">Ayuda</h2>
      <h1 class="spot-title white">Preguntas Frecuentes</h1>
      <p class="medium white">Todas las dudas que tengas acerca de Rocket puedes resolverlas aquí, en caso de tener una pregunta diferente, puedes contactarte con nosotros a través de correo electrónico.</p>
    </div>

  </div><!--/row-->
</div><!--/affirmation-->

<div class="content">
  <div class="row">
    <div class="large-7 medium-8 small-12 end columns">
      <h4 class="bluetxt thin">¿Qué es Rocket y hasta dónde puede llevarme?</h4>
      <div class="faq-expand">
        <p>Rocket es un conjunto de herramientas digitales diseñadas para ayudarte a conseguir las cosas que te propongas en la vida y que te impliquen un esfuerzo económico.</p>
      </div>
      <hr>
      <h4 class="bluetxt thin">¿Qué tan precisos son los resultados de Rocket?</h4>
      <div class="faq-expand">
        <p>Nuestras recomendaciones son tan precisas como la información que nos des. Si nos dices mentiras durante el proceso, te estás diciendo mentiras a ti mismo. En nuestras herramientas encontrarás el nivel de precisión de los productos recomendados, en la medida que contestes todas las preguntas podrás estar más seguro que estás encontrando resultados para ti</p>
      </div>
      <hr>
      <h4 class="bluetxt thin">¿Por qué Rocket es gratis?</h4>
      <div class="faq-expand">
        <p>Creemos que tener un acompañamiento financiero debe ser un derecho gratuito para todos, eso no quiere decir que no vayamos a ganar dinero. Al recomendarte ciertos productos financieros, podemos recibir comisiones (factor que no afectará tus resultados).
          Otra manera de obtener ganancias es ayudando a sitios asociados a mejorar la calidad de sus productos, con estudios de mercado (con la información agregada y nunca individual). Recuerda que tu perfil es anónimo en nuestra página, ni sabemos tu identidad ni nos interesa. Si en algún caso queremos saber quién eres (y solo lo haremos si te beneficia de algún modo), te preguntaremos de forma directa y sin censura.</p>
        </div>
        <hr>
        <h4 class="bluetxt thin">¿Tengo que contestar todas las preguntas?</h4>
        <div class="faq-expand">
          <p>No, puedes saltarte algunas preguntas o terminar el proceso cuando quieras. Ten en cuenta que en ese caso tu nivel de precisión va a bajar y el producto que elijas puede no ser la mejor alternativa que hay en el mercado, en un nanómetro al lado de tus respuestas podrás ver el nivel de precisión.</p>
        </div>
        <hr>
        <h4 class="bluetxt thin">¿Cómo puedo controlar que la información que proporcione a Rocket va a ser bien utilizada?</h4>
        <div class="faq-expand">
          <p>Rocket utiliza tus respuestas para dar recomendaciones adecuadas y personalizadas. Tu información no será compartida, nunca vendemos o le damos tu información individualizada a una empresa o persona.</p>
        </div>
        <hr>
        <h4 class="bluetxt thin">Creo que he encontrado un error en el sitio. ¿Cómo puedo informarlo?</h4>
        <div class="faq-expand">
          <p>Apreciamos tu ayuda al encontrar un error. Mándanos un correo a <a href="mailto:hola@rocket.la" class="bluetxt">hola@rocket.la</a></p>
        </div>
        <hr>
        <h4 class="bluetxt thin">¿A quién puedo contactar acerca de una oportunidad de negocio o de marketing / asociación?</h4>
        <div class="faq-expand">
          <p>Damos la bienvenida a tu propuesta, Por favor mándanos un correo a <a href="mailto:hola@rocket.la">hola@rocket.la</a> y nos comunicaremos contigo a la mayor brevedad.</p>
        </div>
        <hr>
        <h4 class="bluetxt thin">¿Cómo puedo enviar comentarios o sugerencias concretas sobre el sitio?</h4>
        <div class="faq-expand">
          <p>Tu opinión es muy útil para nosotros y agradecemos que te tomes el tiempo para dárnosla. El mejor lugar para dejarnos tus comentarios es en <a href="mailto:hola@rocket.la">hola@rocket.la</a></p>
        </div>
        <hr>
        <h4 class="bluetxt thin">Soy periodista y me gustaría aprender más acerca de Rocket o realizar una entrevista al equipo.</h4>
        <div class="faq-expand">
          <p>Nos encantaría. Envíanos un correo a <a href="mailto:hola@rocket.la">hola@rocket.la</a> y nos pondremos en contacto a la mayor brevedad.</p>
        </div>
        <hr>
        <h4 class="bluetxt thin">¿Puedo comprar publicidad?</h4>
        <div class="faq-expand">
          <p>Lo sentimos, por ahora Rocket no ofrece el servicio de publicidad en el sitio. En todo caso gracias por tenernos en cuenta como una alternativa para publicitar tus productos.</p>
        </div>


      </div>
    </div>
  </div>

  {% endblock %}