{% block content %}
<section class="main-section">
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '602532683201752']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript>&lt;img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=602532683201752&amp;amp;ev=PixelInitialized" /&gt;</noscript>
<script type="text/javascript">
    var keenid = '1417814419jqvauq4vvatcm5g430hifb8325';
    var vista = 0;
</script>


<div class="banner product">
    <div class="banner-text text-center">
        <div class="row">
            <div class="large-9 medium-10 large-centered medium-centered columns">
                <div class="icon_new-card-mini"></div>
                <h2 class="banner-title">Vamos a encontrar la mejor tarjeta de crédito para ti.</h2>
                <p class="banner-subtitle"><strong>Dale sin miedo que es gratis!</strong> Responde 13 preguntas y encuentra la<br> tarjeta de crédito que se ajusta a ti.</p>
                <div class="row">
                    <div class="large-12 columns text-center">
                        <!-- <a href="#" class="button large radius upper" onclick="return false;" onmousedown="autoScrollTo('resume');">Házlo ahora</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="media m-landing hide-for-small">
    <div class="row">
        <div class="large-9 columns large-centered">
            <div class="row">
                <div class="large-4 medium-4 columns">
                     <i class="uri_glasses-medium"></i>
                    <h5>Tu información es anónima.</h5>
                </div>
                <div class="four large-4 medium-4 columns">
                    <i class="uri_lock-medium"></i>
                    <h5>Es seguro, tu información está encriptada.</h5>
                </div>
                <div class="four large-4 medium-4 columns">
                     <i class="uri_heart-medium"></i>
                    <h5>Es gratis hoy, mañana y siempre.</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="discover-questions">
    <div class="row">
        <div class="large-7 large-centered columns ng-scope" id="resume" ng-controller="formValidationController">
                    <div id="erroresValidate"></div>
                    <form method="post" id="formPregunta" name="formPregunta" ng-submit="sendForm()" novalidate="" class="ng-pristine ng-invalid ng-invalid-required">
                        <input name="url_redirect" ng-model="datos.url_redirect" value="https://rocket.la/mx/descubra/resultado/producto/tarjeta-de-credito" type="hidden" class="ng-pristine ng-valid">
                        <input name="url_noprodirect" ng-model="datos.url_noproredirect" value="https://rocket.la/mx/descubra/resultado/noproducto/tarjeta-de-credito" type="hidden" class="ng-pristine ng-valid">
                        <input name="url_resultado" ng-model="datos.url_resultado" value="https://rocket.la/mx/descubra/resultado/producto/tarjeta-de-credito" type="hidden" class="ng-pristine ng-valid">
                        <input name="url_referer" ng-model="datos.url_referer" value="https://rocket.la/mx/" type="hidden" class="ng-pristine ng-valid">
                        <input name="url_querystring" ng-model="datos.url_querystring" value="" type="hidden" class="ng-pristine ng-valid">
                        <input name="utm_source" ng-model="datos.utm_source" value="" type="hidden" class="ng-pristine ng-valid">
                        <input name="utm_medium" ng-model="datos.utm_medium" value="" type="hidden" class="ng-pristine ng-valid">
                        <input name="utm_term" ng-model="datos.utm_term" value="" type="hidden" class="ng-pristine ng-valid">
                        <input name="utm_campaign" ng-model="datos.utm_campaign" value="" type="hidden" class="ng-pristine ng-valid">
                        <input name="utm_content" ng-model="datos.utm_content" value="" type="hidden" class="ng-pristine ng-valid">

                        <!-- ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="bandera_canal" value="0" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="canalArrayId" value="[]" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="canalLimit" value="3" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="meses_antiguedad" value="0" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="producto_tipo_id" value="12" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="url_noproredirect" value="https://rocket.la/mx/descubra/resultado/noproducto/tarjeta-de-credito" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="url_querystring" value="" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="url_redirect" value="https://rocket.la/mx/descubra/resultado/producto/tarjeta-de-credito" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="url_referer" value="https://rocket.la/mx/" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="url_resultado" value="https://rocket.la/mx/descubra/resultado/producto/tarjeta-de-credito" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="utm_campaign" value="" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="utm_content" value="" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="utm_medium" value="" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="utm_source" value="" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos --><input ng-repeat="(key, dato) in datos" type="hidden" name="utm_term" value="" class="ng-scope"><!-- end ngRepeat: (key, dato) in datos -->
                        <!-- ngRepeat: canal in datos.canalArrayId -->

                        <ul class="question-timeline resume-padding">
                                <li class="text-center">
  <div class="icon_card-q"></div>
  <div class="">
    <div class="big-title">Para empezar cuéntanos cómo quieres utilizar tu tarjeta.</div>
  </div>
</li>
<li class="question-li">
  <div class="box" ng-class="{'error': !datos.tarjeta_habiente_value &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Buscas tu primera tarjeta de crédito o ya tienes una?</div>
        </header>
      </div>
      <div class="small-12 columns">
        <div class="option-block" id="perfiles_tarjetahab">
          <div class="intro-option" ng-click="datos.tarjeta_habiente_value = '0'" ng-class="{'active': datos.tarjeta_habiente_value == '0'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '1 Buscas tu primera tarjeta de crédito o ya tienes una?', 'Mi primer tarjeta de crédito');">
            <div class="icon_new-card"></div>
            <header><strong>Busco mi primera<br> tarjeta de crédito </strong> </header>
          </div>

          <div class="intro-option" ng-click="datos.tarjeta_habiente_value = '1'" ng-class="{'active': datos.tarjeta_habiente_value == '1'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '1 Buscas tu primera tarjeta de crédito o ya tienes una?', 'Cambiar tarjeta de crédito');">
            <div class="icon_replace-card"></div>
            <header><strong>Quiero cambiar de<br> tarjeta de crédito</strong></header>
          </div>

          <div class="intro-option" ng-click="datos.tarjeta_habiente_value = '2'" ng-class="{'active': datos.tarjeta_habiente_value == '2'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '1 Buscas tu primera tarjeta de crédito o ya tienes una?', 'Otra tarjeta de crédito');">
            <div class="icon_other-card"></div>
            <header><strong>Quiero otra<br> tarjeta de crédito</strong></header>
          </div>
        </div>
      </div>
                        <input id="tarjeta_habiente_value" ng-model="datos.tarjeta_habiente_value" type="hidden" ng-required="true" class="ng-pristine ng-invalid ng-invalid-required" required="required">
                        <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.tarjeta_habiente_value &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li><li class="question-li">
  <div class="box" ng-class="{'error': !datos.compra_nacional_perfil &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Eres "totalero" o no?</div>
          <div class="box-subtitle">Ya sabes, ¿eres de los que paga el monto total de su tarjeta todos los meses o no? Con esta información podremos hacer cálculos de tasa de interés, CAT, etc.</div>
        </header>
      </div>
      <div class="small-12 columns">
        <ul class="large-block-grid-3 small-block-grid-2" id="perfiles_tarjeta">
          <li>
            <div class="option-box answer-transaction" ng-click="datos.compra_nacional_perfil = '1'" ng-class="{'active': datos.compra_nacional_perfil == '1'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '2 Eres totalero o no?', 'Totalero');">
              <div id="" class="option-content" name="">
                <strong>Totalero</strong><br>
                Pagas el total del recibo
              </div>
            </div>
          </li>
          <li>
            <div class="option-box answer-transaction" ng-click="datos.compra_nacional_perfil = '2'" ng-class="{'active': datos.compra_nacional_perfil == '2'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '2 Eres totalero o no?', 'Casi todo');">
              <div class="option-content" name="">
                <strong>Casi todo</strong><br>
                Pago la mayoría del recibo
              </div>
            </div>
          </li>
          <li>
            <div class="option-box answer-transaction" ng-click="datos.compra_nacional_perfil = '3'" ng-class="{'active': datos.compra_nacional_perfil == '3'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '2 Eres totalero o no?', '50 y 50');">
              <div class="option-content" name="">
                <strong>50 y 50</strong><br>
                Pago más o menos la mitad
              </div>
            </div>
          </li>
          <li>
            <div class="option-box answer-transaction" ng-click="datos.compra_nacional_perfil = '4'" ng-class="{'active': datos.compra_nacional_perfil == '4'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '2 Eres totalero o no?', 'Un poco más');">
              <div class="option-content" name="">
                <strong>Un poco más</strong><br>
                Pago algo más del mínimo
              </div>
            </div>
          </li>
          <li>
            <div class="option-box answer-transaction" ng-click="datos.compra_nacional_perfil = '5'" ng-class="{'active': datos.compra_nacional_perfil == '5'}" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Eres totalero o no?', 'Mínimo');">
              <div class="option-content" name="">
                <strong>Mínimo</strong><br>
                Pago sólo el mínimo
              </div>
            </div>
          </li>
        </ul>
                            <input id="compra_nacional_perfil" ng-model="datos.compra_nacional_perfil" type="hidden" ng-required="true" class="ng-pristine ng-invalid ng-invalid-required" required="required">
      </div>
                        <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.compra_nacional_perfil &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li>

<li class="question-li error">
  <div class="box" ng-class="{'error': !datos.avance_nacional &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Haces retiros de dinero de tu tarjeta de crédito?</div>
          <div class="box-subtitle">Sabiendo si retiras dinero del cajero, podemos calcular mejor los costos y así encontrar la mejor tarjeta para ti.</div>
        </header>
      </div>
      <div class="small-12 columns">
        <div class="row">
          <div class="small-6 columns" ng-click="datos.avance_nacional = '1'">
            <a id="yes-avances-nacionales" class="option-box round margin bottom" style="" ng-class="{'active': datos.avance_nacional == '1'}" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Haces retiros de dinero de tu tarjeta de crédito?', 'Sí hago retiros');">
              <div class="option-content yes">Sí</div>
            </a>
          </div>
          <div class="small-6 columns" ng-click="datos.avance_nacional = '0'">
            <a id="no-avances-nacionales" class="option-box round margin bottom" style="" ng-class="{'active': datos.avance_nacional == '0'}" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Haces retiros de dinero de tu tarjeta de crédito?', 'No hago retiros');">
              <div class="option-content no">No</div>
            </a>
          </div>
        </div>
                            <input type="hidden" ng-model="datos.avance_nacional" id="avance_nacional" ng-required="true" class="ng-pristine ng-invalid ng-invalid-required" required="required">
      </div>
      <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.avance_nacional &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li><li class="question-li">
  <div class="box" ng-class="{'error': datos.canalArrayId.length == 0 &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Cómo prefieres pagar tu tarjeta?</div>
          <div class="box-subtitle">Pon en orden de importancia los canales por donde prefieres pagar tu tarjeta.</div>
        </header>
      </div>
      <div class="small-12 columns">
        <div class="answers-options text-center">
          <div class="option-js">
            <span class="tag tag-event" ng-click="setCanalId('1')" ng-class="{'active-1': tieneCanalId('1')}" onclick="ga('send', 'event', 'Descubra: Pregunta', '4 Cómo prefieres pagar tu tarjeta?', 'Internet');" id="internet" value="1"><span>Internet</span></span>
            <span class="tag tag-event" ng-click="setCanalId('5')" ng-class="{'active-1': tieneCanalId('5')}" onclick="ga('send', 'event', 'Descubra: Pregunta', '4 Cómo prefieres pagar tu tarjeta?', 'Domiciliación');" id="debitosAutomaticos" value="5"><span>Domiciliación automática</span></span>
            <span class="tag tag-event" ng-click="setCanalId('7')" ng-class="{'active-1': tieneCanalId('7')}" onclick="ga('send', 'event', 'Descubra: Pregunta', '4 Cómo prefieres pagar tu tarjeta?', 'Oficina');" id="oficina" value="7"><span>Oficina</span></span>
            <span class="tag tag-event" ng-click="setCanalId('2')" ng-class="{'active-1': tieneCanalId('2')}" onclick="ga('send', 'event', 'Descubra: Pregunta', '4 Cómo prefieres pagar tu tarjeta?', 'Cajero');" id="cajero" value="2"><span>Cajero</span></span>
            <span class="tag tag-event" ng-click="setCanalId('4')" ng-class="{'active-1': tieneCanalId('4')}" onclick="ga('send', 'event', 'Descubra: Pregunta', '4 Cómo prefieres pagar tu tarjeta?', 'Tiendas');" id="cnb" value="4"><span>Tiendas</span></span>

            <!--<input type="hidden" ng-model="datos.canalArrayId" name="canalArrayId" ng-required="true" />-->
            <input type="hidden" value="1" id="canal_total_count_answer">
          </div>
        </div>
      </div>

      <div class="small-12 columns">
        <div data-alert="" class="alert-box info radius">
          <div class="row">
            <div class="large-8 columns">
              <div class="confirm-txt">Quieres limitar tu búsqueda a sólo el primer canal?</div>
            </div>
            <div class="large-4 medium-6 columns">
              <div class="text-right" id="checked-js">
                                                                <input id="x" class="margin-less ng-pristine ng-valid" ng-model="datos.bandera_canal" ng-click="datos.bandera_canal = '0'" type="radio" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Quieres limitar tu búsqueda a sólo el primer canal?', 'No');" value="0" checked="" name="003">
                <label for="x" onclick="">No</label>

                <input id="x1" class="margin-less ng-pristine ng-valid" ng-model="datos.bandera_canal" ng-click="datos.bandera_canal = '1'" type="radio" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Quieres limitar tu búsqueda a sólo el primer canal?', 'Sí');" value="1" name="004">
                <label for="x1" onclick="">Sí</label>

                <!--<input id="bandera_canal" type="hidden">-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 columns text-center required-text ng-hide" ng-show="datos.canalArrayId.length == 0 &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li>
<li class="text-center">
  <div class="icon_sex-q"></div>
  <div class="">
    <div class="big-title">Ahora pasemos sin mucho detalle a ¿quién eres tú?</div>
  </div>
</li>

<li class="question-li">
  <div class="box" ng-class="{'error': !datos.genero_id &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Chavo o chava?</div>
          <div class="box-subtitle">Algunas tarjetas son sólo para chavas, por eso te preguntamos.</div>
        </header>
      </div>
      <div class="small-12 columns">
        <div class="row">
          <div class="small-6 columns">
            <a class="icon-selection text-center" ng-click="datos.genero_id = '2'" onclick="ga('send', 'event', 'Descubra: Pregunta', '5 Chavo o chava?', 'Chavo');">
              <div class="boy-icon" ng-class="{'active': datos.genero_id == '2'}">Chavo</div>
              <div class="caption">— Chavo —</div>
            </a>
          </div>
          <div class="small-6 columns">
            <a class="icon-selection text-center" ng-click="datos.genero_id = '3'" onclick="ga('send', 'event', 'Descubra: Pregunta', '5 Chavo o chava?', 'Chava?');">
              <div class="girl-icon" ng-class="{'active': datos.genero_id == '3'}">Chava</div>
              <div class="caption">— Chava —</div>
            </a>
          </div>
        </div>
                            <input type="hidden" value="1" id="genero_count_answer">
                            <input type="hidden" ng-model="datos.genero_id" ng-required="true" class="ng-pristine ng-invalid ng-invalid-required" required="required">
      </div>
      <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.genero_id &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li>

  <li class="question-li">
    <div class="box" ng-class="{'error': !datos.anio_nacimiento &amp;&amp; isSubmit}">
      <div class="row">
        <div class="small-12 columns">
          <header>
            <div class="box-title">Cuál es tu año de nacimiento?</div>
            <div class="box-subtitle">Algunos tarjetas están diseñadas especialmente para personas de cierta edad.</div>
          </header>
        </div>

        <div class="small-12 columns">
          <div class="input-box">
            <div class="select_styled">
              <select ng-model="datos.anio_nacimiento" onclick="ga('send', 'event', 'Descubra: Pregunta', '6 Cuál es tu año de nacimiento?', 'Año de nacimiento');" id="anio_nacimiento" ng-required="true" class="ng-pristine ng-invalid ng-invalid-required" required="required">
                <option value="">Año de nacimiento</option>
                                  <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                    <option value="1958">1958</option>
                                    <option value="1957">1957</option>
                                    <option value="1956">1956</option>
                                    <option value="1955">1955</option>
                                    <option value="1954">1954</option>
                                    <option value="1953">1953</option>
                                    <option value="1952">1952</option>
                                    <option value="1951">1951</option>
                                    <option value="1950">1950</option>
                                    <option value="1949">1949</option>
                                    <option value="1948">1948</option>
                                    <option value="1947">1947</option>
                                    <option value="1946">1946</option>
                                </select>
            </div>
          </div>
        </div>
        <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.anio_nacimiento  &amp;&amp; isSubmit">
          <span class="label-error">Esta pregunta es obligatoria</span>
        </div>
      </div>
    </div>
  </li>
<li class="question-li">
  <div class="box" ng-class="{'error': !datos.situacion_laboral_id &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Actualmente a qué te dedicas?</div>
          <div class="box-subtitle">Las tarjetas de crédito tienen diferentes condiciones según la situación laboral.</div>
        </header>
      </div>

      <div class="small-12 columns">
        <div class="answers-options text-center">
          <div class="option-dedicacion-js">
            <div class="hidden-dedicacion-js">
              <input type="hidden" value="1" id="dedicacion_count_answer">
              <span class="tag" ng-click="datos.situacion_laboral_id = '2'" ng-class="{'active': datos.situacion_laboral_id == '2'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '7 Actualmente a qué te dedicas?', 'Empleado');" name="empleado" value="2"><span>Empleado</span></span>
              <span class="tag" ng-click="datos.situacion_laboral_id = '3'" ng-class="{'active': datos.situacion_laboral_id == '3'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '7 Actualmente a qué te dedicas?', 'Independiente');" name="independiente" value="3"><span>Independiente, sin jefe</span></span>
              <span class="tag" ng-click="datos.situacion_laboral_id = '7'" ng-class="{'active': datos.situacion_laboral_id == '7'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '7 Actualmente a qué te dedicas?', 'Ama de casa');" name="amadecasa" value="7"><span>Ama de casa</span></span>
              <span class="tag" ng-click="datos.situacion_laboral_id = '4'" ng-class="{'active': datos.situacion_laboral_id == '4'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '7 Actualmente a qué te dedicas?', 'Pensionado');" name="pensionado" value="4"><span>Pensionado</span></span>
              <span class="tag" ng-click="datos.situacion_laboral_id = '5'" ng-class="{'active': datos.situacion_laboral_id == '5'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '7 Actualmente a qué te dedicas?', 'Rentista');" name="rentista" value="5"><span>Rentista</span></span>
              <span class="tag" ng-click="datos.situacion_laboral_id = '6'" ng-class="{'active': datos.situacion_laboral_id == '6'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '7 Actualmente a qué te dedicas?', 'Estudiante');" name="estudiante" value="6"><span>Estudiante</span></span>
              <span class="tag" ng-click="datos.situacion_laboral_id = '8'" ng-class="{'active': datos.situacion_laboral_id == '8'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '7 Actualmente a qué te dedicas?', 'Estudiante y Trabajo');" name="estudiante y trabajo" value="8"><span>Estudiante, con trabajo </span></span>
              <span class="tag" ng-click="datos.situacion_laboral_id = '7'" ng-class="{'active': datos.situacion_laboral_id == '7'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '7 Actualmente a qué te dedicas?', 'Desempleado');" name="desempleado" value="7"><span>Desempleado</span></span>
            </div>
                                            <input type="hidden" value="" id="dedicacion" ng-model="datos.situacion_laboral_id" ng-required="true" class="ng-pristine ng-invalid ng-invalid-required" required="required">
          </div>
        </div>
      </div>
      <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.situacion_laboral_id &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>

  <div class="slide-down-antiguedad-js" style="display: none;">
    <div class="box grey">
      <div class="row">
        <div class="small-12 columns">
          <header>
            <div class="box-title">Cuánto tiempo llevas en tu empleo actual?</div>
            <div class="box-subtitle">Para acceder a algunas tarjetas debes tener una antigüedad laboral mínima.</div>
          </header>
        </div>



        <div class="large-12 twelve columns" id="perfiles_experiencia_js">
          <div class="pack answer-experiencia active" ng-click="datos.meses_antiguedad = '0'" ng-class="{'active': datos.meses_antiguedad == '0'}" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Cuánto tiempo llevas en tu empleo actual?', '0 - 3');" data-numexperiencia="0">
            <div class="number">0 - 3</div>
            <div class="months">meses</div>
          </div>
          <div class="pack answer-experiencia" ng-click="datos.meses_antiguedad = '6'" ng-class="{'active': datos.meses_antiguedad == '6'}" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Cuánto tiempo llevas en tu empleo actual?', '3 - 6');" data-numexperiencia="6">
            <div class="number">3 - 6</div>
            <div class="months">meses</div>
          </div>
          <div class="pack answer-experiencia" ng-click="datos.meses_antiguedad = '12'" ng-class="{'active': datos.meses_antiguedad == '12'}" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Cuánto tiempo llevas en tu empleo actual?', '6 - 12');" data-numexperiencia="12">
            <div class="number">6 - 12</div>
            <div class="months">meses</div>
          </div>
          <div class="pack answer-experiencia" ng-click="datos.meses_antiguedad = '99'" ng-class="{'active': datos.meses_antiguedad == '99'}" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Cuánto tiempo llevas en tu empleo actual?', '+12');" data-numexperiencia="99">
            <div class="number">+12</div>
            <div class="months">meses</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>


<script>
  $(document).ready(function() {
    $(".slide-down-antiguedad-js").hide();
  });
</script>

<script>
  $(".option-dedicacion-js span").click(function() {
    var x = $(this).parent();
    x.children('span').removeClass('active-1');
    $(this).addClass('active-1');
    $('#dedicacion').val($(this).attr('value'));

    if ($('#dedicacion').val() == 7 || $('#dedicacion').val() == 6) {
      $(".slide-down-antiguedad-js").hide();
      if ($('#dedicacion_count_answer').val() != 0) {
        $('#dedicacion_count_answer').val(0)
        var totalAnswer = parseInt($('#answer_progress').val()) + 1;
        $('#answer_progress').val(totalAnswer);
      }
    } else {
      $(".slide-down-antiguedad-js").slideDown();
      if ($('#dedicacion_count_answer').val() != 0) {
        $('#dedicacion_count_answer').val(0)
        var totalAnswer = parseInt($('#answer_progress').val()) + 1;
        $('#answer_progress').val(totalAnswer);
      }
    }
  });

  /*$("#slider-range-min-5").slider({
    range: "min",
    value: 10,
    min: 0,
    max: 100,

    slide: function(event, ui) {
      $('#antiguedad').val(ui.value);
                        var el = $('#antiguedad');
                        var scope = angular.element(el[0]).scope();
                        scope.$apply(function() {
                            scope.datos.meses_antiguedad = ui.value;
                        });
    }
  });*/
</script>
<li class="text-center">
  <div class="icon_money-q"></div>
  <div class="">
    <div class="big-title">Momento de hablar de tus ingresos, gastos y pagos mensuales</div>
  </div>
</li>
<li class="question-li">
  <div class="box" ng-class="{'error': !datos.ingresos &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Cuánto dinero ganas mensualmente?</div>
          <div class="box-subtitle">Sabemos que puede ser incómodo hablar de cuánto ganas, pero dependiendo de tus ingresos algunas tarjetas son o no para ti.</div>
        </header>
      </div>
      <div class="small-12 columns">
        <div class="input-cal margin bottom">

          <div class="mouse-js text-center" id="ingresos-js">
            <input id="ingresos_interface" ng-blur="eventoKeen('ingresos', datos.ingresos)" ng-model="datos.ingresos" ng-required="true" onclick="ga('send', 'event', 'Descubra: Pregunta', '8 Cuánto dinero ganas mensualmente?', 'Ingresos');" type="text" class="inputSet-50k-js gold ng-pristine ng-invalid ng-invalid-required" required="required">
            <input type="hidden" value="1" id="ingresos_count_answer">
            <div class="caption">— Pesos Mexicanos —</div>
          </div>

        </div>



      </div>
      <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.ingresos &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li>

<script>
  $(document).ready(function() {
    $('#ingresos_interface').number(true, 0, '.', ',');

    $('#ingresos_interface').blur(function(){
      if ($('#ingresos_count_answer').val() != 0) {
        $('#ingresos_count_answer').val(0)
        var totalAnswer = parseInt($('#answer_progress').val()) + 1;
        $('#answer_progress').val(totalAnswer);
      }
    });
  });
</script><li class="question-li validaavisos">
  <div class="box round-top" ng-class="{'error': !datos.deuda_mes_no_financiera &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title"></div>
          <div class="box-subtitle">A veces no sabemos en que nos gastamos el dinero, pero has memoria y así podremos encontrar la mejor tarjeta para ti.</div>
        </header>
      </div>
    </div>
  </div>
  <div class="box margin bottom grey">
    <div class="row">
      <div class="large-6 medium-12 columns ">
        <span class="forms_subtext">Cuánto pagaste el mes pasado por cuotas de créditos?</span>
        <div class="input-cal">

          <div class="mouse-js" id="cuota-mensual-js">
            <input type="text" onclick="ga('send', 'event', 'Descubra: Pregunta', '9 Cuánto pagaste el mes pasado por cuotas de créditos?', 'Gastos financieros');" class="gold inputSet-50k-js ng-pristine ng-valid" placeholder="0" id="deuda_mes_financiera_interface" ng-model="datos.deuda_mes_financiera" ng-blur="eventoKeen('deuda_mes_financiera', datos.deuda_mes_financiera)">
          </div>

        </div>
        <div for="" class="caption">— Pesos Mexicanos —</div>
      </div>
      <div class="large-6 medium-12 columns divider">
        <span class="forms_subtext">Cuánto gastas mensualmente para vivir? (no incluyas tus pagos en créditos)</span>
        <div class="input-cal">
          <div class="mouse-js" id="cuota-mensual-js">
            <input type="text" onclick="ga('send', 'event', 'Descubra: Pregunta', '9 Cuánto pagaste el mes pasado por cuotas de créditos?', 'Gastos no financieros');" class="gold inputSet-50k-js ng-pristine ng-invalid ng-invalid-required" placeholder="0" id="deuda_mes_no_financiera_interface" ng-model="datos.deuda_mes_no_financiera" ng-required="true" ng-blur="eventoKeen('deuda_mes_no_financiera', datos.deuda_mes_no_financiera)" required="required">

          </div>
        </div>
        <div for="" class="caption">— Pesos Mexicanos —</div>
      </div>
      <input id="gastos_count_answer" type="hidden" value="1">
      <input name="gr_gastos" id="gr_gastos" type="hidden">
      <div class="large-12 columns ">
        <div id="js-avisoSumaGastos" class="alert warning js-parent-aviso ng-hide" ng-show="validaGastos() &amp;&amp; isSubmit">
          <div data-alert="" class="alert-box error radius">
            <div class="row">
              <div class="small-12 columns text-center">Los ingresos no pueden ser menor a la suma de los gastos financieros y los gastos no financieros.</div>
              <div class="small-12 columns text-center">
                <div class="alert-cta">
                  <input type="button" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Validador: Los ingresos no pueden ser menor a la suma de los gastos financieros y los gastos no financieros.', 'Aceptar validador');" value="Aceptar" class="button nice small success js-aceptar-aviso">
                </div>
              </div>
            </div>
          </div>
        </div>


        <div id="js-aviso1" class="alert highlighted js-parent-aviso" style="display: none;">
          <div data-alert="" class="alert-box error radius">
            <div class="row">
              <div class="small-12 columns text-center">
                <strong>Seguro que ese es el valor de tus gastos no financieros?</strong> Revisa la relación entre tus ingresos y tus gastos no financieros.
              </div>
              <div class="small-12 columns text-center">
                <div class="alert-cta">
                  <input type="button" onclick="ga('send', 'event', 'Descubra: Pregunta', '¿Seguro que ese es el valor de tus gastos no financieros?', 'Aceptar validador');" value="Aceptar" class="button nice small success js-aceptar-aviso">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="js-aviso4" class="alert highlighted" style="display: none;">
          <div data-alert="" class="alert-box error radius">
            <div class="row">
              <div class="small-12 columns text-center">
                <strong>Tienes buena capacidad de pago.</strong>
              </div>
              <div class="small-12 columns text-center">
                <div class="alert-cta">
                  <input type="button" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Tienes buena capacidad de pago.', 'Aceptar validador');" value="Aceptar" class="button nice small success js-aceptar-aviso">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="js-aviso5" class="alert warning" style="display: none;">
          <div data-alert="" class="alert-box error radius">
            <div class="row">
              <div class="small-12 columns text-center">
                <strong>Tu capacidad de pago está en problemas.</strong> Es muy probable que por tu capacidad de pago, las entidades financieras rechacen tu solicitud.
              </div>
              <div class="small-12 columns text-center">
                <div class="alert-cta">
                  <input type="button" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Tu capacidad de pago está en problemas', 'Aceptar validador');" value="Aceptar" class="button nice small success js-aceptar-aviso">
                </div>
              </div>
            </div>
          </div>
        </div>


        <div id="js-aviso6" class="alert warning" style="display: none;">
          <div data-alert="" class="alert-box error radius">
            <div class="row">
              <div class="small-12 columns text-center">
                <strong>Estás sobre endeudado.</strong> Con tus ingresos y gastos ingresados más el monto del cŕedito solicitado qudarías sobre endeudado, es poco probable que una entidad financiera apruebe tu solicitud.
              </div>
              <div class="small-12 columns text-center">
                <div class="alert-cta">
                  <input type="button" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Estás sobre endeudado.', 'Aceptar validador');" value="Aceptar" class="button nice small success js-aceptar-aviso">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="js-aviso7" class="alert warning" style="display: none;">
          <div data-alert="" class="alert-box error radius">
            <div class="row">
              <div class="small-12 columns text-center">
                <strong>Éstas sobre endeudado.</strong> Gastas más de lo que ganas, no es recomendable solicitar un crédito.
              </div>
              <div class="small-12 columns text-center">
                <div class="alert-cta">
                  <input type="button" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Estás sobre endeudado, gastas más de lo que ganas, no es recomendable solicitar un crédito.', 'Aceptar validador');" value="Aceptar" class="button nice small success js-aceptar-aviso">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>



<script>
  $(document).ready(function() {
    //$('#js-avisoSumaGastos').hide();
    $('#js-aviso1').hide();
    $('#js-aviso3').hide();
    $('#js-aviso4').hide();
    $('#js-aviso5').hide();
    $('#js-aviso6').hide();
    $('#js-aviso7').hide();
    $('#js-aviso-80-150').hide();
    $('#js-aviso-gnf100').hide();

    $(".slide-down-deuda-js").hide();

    $('#yes-deuda').click(function() {
      $('#no-deuda').removeClass('active');
      $(this).addClass('active');
      $(".slide-down-deuda-js").slideDown("slow");
      $('#deuda').val(1);
    });

    $('#no-deuda').click(function() {
      $('#yes-deuda').removeClass('active');
      $(this).addClass('active');
      $(".slide-down-deuda-js").hide(500);
      $('#deuda').val(1);
    });

    $('#deuda_mes_no_financiera_interface').number(true, 0, '.', ',');
    $('#deuda_mes_financiera_interface').number(true, 0, '.', ',');
  });

</script>
<li class="text-center">
  <div class="icon_bank-q"></div>
  <div class="">
    <div class="big-title">Hablemos de cómo te ha ido con los bancos.</div>
  </div>
</li>
<li class="question-li">
  <div class="box" ng-class="{'error': !datos.meses_experiencia_crediticia &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Hace cuántos meses tienes créditos con los bancos?</div>
          <div class="box-subtitle">Si no tienes mucha experiencia crediticia algunas tarjetas no son para ti. En todo caso, así no tengas experiencia también hay tarjetas para ti.</div>
        </header>
      </div>
      <div class="large-12 twelve columns" id="perfiles_experiencia_js">
        <div class="pack answer-experiencia" ng-click="datos.meses_experiencia_crediticia = '0'" ng-class="{'active': datos.meses_experiencia_crediticia == '0'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '10 Hace cuántos meses tienes créditos con los bancos?', 'Nunca');">
          <div class="number">0</div>
          <div class="months">Nunca</div>
        </div>
        <div class="pack answer-experiencia" ng-click="datos.meses_experiencia_crediticia = '6'" ng-class="{'active': datos.meses_experiencia_crediticia == '6'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '10 Hace cuántos meses tienes créditos con los bancos?', '6 meses');">
          <div class="number">6</div>
          <div class="months">meses</div>
        </div>
        <div class="pack answer-experiencia" ng-click="datos.meses_experiencia_crediticia = '12'" ng-class="{'active': datos.meses_experiencia_crediticia == '12'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '10 Hace cuántos meses tienes créditos con los bancos?', '12 meses');">
          <div class="number">12</div>
          <div class="months">meses</div>
        </div>
        <div class="pack answer-experiencia" ng-click="datos.meses_experiencia_crediticia = '99'" ng-class="{'active': datos.meses_experiencia_crediticia == '99'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '10 Hace cuántos meses tienes créditos con los bancos?', '24 meses');">
          <div class="number">+24</div>
          <div class="months">meses</div>
        </div>
      </div>
      <input type="hidden" id="experiencia_crediticia" ng-model="datos.meses_experiencia_crediticia" ng-required="true" class="ng-pristine ng-invalid ng-invalid-required" required="required">
      <input type="hidden" value="1" id="experiencia_crediticia_count_answer">
      <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.meses_experiencia_crediticia &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li><li class="question-li">
  <div class="box" ng-class="{'error': !datos.central_riesgo &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Actualmente estás reportado en el Buró de crédito por no pagar?</div>
          <div class="box-subtitle">No todas las entidades prestan a las personas que están reportadas negativamente en Buró de crédito.</div>
        </header>
      </div>
      <div class="small-12 columns">
        <div class="row">
          <div class="small-6 columns">
            <a class="option-box round margin bottom happy" ng-click="datos.central_riesgo = '1'" ng-class="{'active': datos.central_riesgo == '1'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '11 Estás reportado en el Buró de crédito por no pagar?', 'Sí');">
              <div class="option-content margin bottom_selected-js">
                <div>Sí</div>
              </div>
            </a>
          </div>
          <div class="small-6 columns">
            <a class="option-box round margin bottom unhappy" ng-click="datos.central_riesgo = '0'" ng-class="{'active': datos.central_riesgo == '0'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '11 Estás reportado en el Buró de crédito por no pagar?', 'No');" style="">
              <div class="option-content margin bottom_selected-js">
                <div>No</div>
              </div>
            </a>
          </div>
        </div>
                            <input type="hidden" id="reportado_datacredito" ng-model="datos.central_riesgo" ng-required="true" class="ng-pristine ng-invalid ng-invalid-required" required="required">
                            <input type="hidden" value="1" id="central_riesgo_count_answer">
      </div>
      <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.central_riesgo &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li>


<script>
  $('#js-confirmacion-central-riesgo').hide();

  $('.happy').click(function() {
    var temp = $(this);
    var countClickCentral = parseInt($('#js-count-click-central-riesgo').val());
    //alert('Inicia: '+countClickCentral);
    if (countClickCentral == 0) {
      $('#js-confirmacion-central-riesgo').show();
      $('#js-confirma-centra-riesgo').click(function() {
        $('#js-count-click-central-riesgo').val(1);
        /*$('.unhappy').removeClass('unhappy active').addClass('unhappy');
        temp.addClass('happy active');
        $('#reportado_datacredito').val(1);*/

        if ($('#central_riesgo_count_answer').val() != 0) {
          $('#central_riesgo_count_answer').val(0)
          var totalAnswer = parseInt($('#answer_progress').val()) + 1;
          $('#answer_progress').val(totalAnswer);
        }
      });
    } else {
      /*$('.unhappy').removeClass('unhappy active').addClass('unhappy');
      temp.addClass('happy active');*/
      $('#reportado_datacredito').val(1);

      if ($('#central_riesgo_count_answer').val() != 0) {
        $('#central_riesgo_count_answer').val(0)
        var totalAnswer = parseInt($('#answer_progress').val()) + 1;
        $('#answer_progress').val(totalAnswer);
      }
    }
  });


/*$('.unhappy').click(function() {
  $('#js-confirmacion-central-riesgo').hide();

  $('.happy').removeClass('happy active').addClass('happy');
  $(this).addClass('unhappy active');
  $('#reportado_datacredito').val(0);

  if ($('#central_riesgo_count_answer').val() != 0) {
    $('#central_riesgo_count_answer').val(0)
    var totalAnswer = parseInt($('#answer_progress').val()) + 1;
    $('#answer_progress').val(totalAnswer);
  }
});*/
</script><li class="question-li">
  <div class="box" ng-class="{'error': !datos.preferencia_value &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Cómo prefieres tu nueva tarjeta de crédito?</div>
          <div class="box-subtitle">Esta es una variable que diferencia a varias tarjetas, si nos dices esto, encontraremos un producto que se adapte mejor a lo que quieres.</div>
        </header>
      </div>
      <div class="small-12 columns">
        <div class="answers-options">
          <div id="preferencias-container" class="row">
            <div class="large-12 columns">
              <ul class="">
                <li>
                  <div class="option-box-large" data-provider="costo" ng-click="datos.preferencia_value = 'costo'" ng-class="{'active': datos.preferencia_value == 'costo'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '12 Quieres que tu tarjeta te dé algún tipo de beneficio adicional?', 'Que sea barata');">
                    <div class="row collapse">
                      <div class="large-2 medium-3 columns text-center">
                        <span class="icon_costs"></span>
                      </div>
                      <div class="large-10 medium-9 columns">
                        <div class="option-content" name="">
                          <header>Que sea barata!</header>
                          <p>Si lo que más te importa es pagar poco y no eres totalero, ésta es tu preferencia.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="option-box-large" data-provider="tramite" ng-click="datos.preferencia_value = 'tramite'" ng-class="{'active': datos.preferencia_value == 'tramite'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '12 Quieres que tu tarjeta te dé algún tipo de beneficio adicional?', 'Que te la den fácil y rápido ');">
                    <div class="row collapse">
                      <div class="large-2 medium-3 columns text-center">
                        <span class="icon_procedure"></span>
                      </div>
                      <div class="large-10 medium-9 columns">
                        <div class="option-content" name="">
                          <header>Que te la den fácil y rápido!</header>
                          <p>Si lo que más te importa es que te den la tarjeta rápido y sin tanto tramite, ésta es tu preferencia.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="option-box-large" data-provider="facilidad" ng-click="datos.preferencia_value = 'facilidad'" ng-class="{'active': datos.preferencia_value == 'facilidad'}" onclick="ga('send', 'event', 'Descubra: Pregunta', '12 Quieres que tu tarjeta te dé algún tipo de beneficio adicional?', 'Que la puedas pagar fácilmente! ');">
                    <div class="row collapse">
                      <div class="large-2 medium-3 columns text-center">
                        <span class="icon_easiness"></span>
                      </div>
                      <div class="large-10 medium-9 columns">
                        <div class="option-content" name="">
                          <header>Que la puedas pagar fácilmente!</header>
                          <p>Si lo que más te importa es poder pagar tu tarjeta fácil y sin complicaciones, ésta es tu preferencia.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>


                <input id="preferencia_value" ng-model="datos.preferencia_value" ng-required="true" type="hidden" class="ng-pristine ng-invalid ng-invalid-required" required="required">
                <input id="preferencia_count_answer" type="hidden" value="1">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="small-12 columns text-center required-text ng-hide" ng-show="!datos.preferencia_value &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li><li class="question-li">
  <div class="box" ng-class="{'error': !datos.usuario_correo &amp;&amp; isSubmit}">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <div class="box-title">Cuál es tu correo electrónico?</div>
          <div class="box-subtitle">También odiamos el Spam, por eso no te vamos a llenar el correo de basura, te lo pedimos para continuar el proceso y que tu tengas la mejor tarjeta.</div>
        </header>
      </div>

      <div class="small-12 columns">
        <div class="input-box margin bottom text-center">
          <input type="email" ng-blur="eventoKeen('usuario_correo', datos.usuario_correo)" ng-model="datos.usuario_correo" ng-required="true" onclick="ga('send', 'event', 'Descubra: Pregunta', '13 Cuál es tu correo electrónico?', 'correo electrónico');" class="input ng-pristine ng-invalid ng-invalid-required ng-valid-email" id="usuario_correo" name="usuario_correo" placeholder="Correo electrónico" required="required">
          <div class="caption">— Correo electrónico —</div>
          <div class="content-validation ng-hide" ng-show="formPregunta.usuario_correo.$error.email &amp;&amp; isSubmit">
            <div class="alert">
              <span>No es un correo electrónico válido.</span>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" value="1" id="datos_count_answer">
      <div class="small-12 columns text-center required-text ng-hide" ng-show="formPregunta.usuario_correo.$error.required &amp;&amp; isSubmit">
        <span class="label-error">Esta pregunta es obligatoria</span>
      </div>
    </div>
  </div>
</li>

<script>
  $(function(event) {
    $('#usuario_correo').blur(function(){
      if ($('#datos_count_answer').val() != 0) {
        $('#datos_count_answer').val(0)
        var totalAnswer = parseInt($('#answer_progress').val()) + 1;
        $('#answer_progress').val(totalAnswer);
      }
    });

    $('#usuario_telefono').blur(function(){
      if ($('#datos_count_answer').val() != 0) {
        $('#datos_count_answer').val(0)
        var totalAnswer = parseInt($('#answer_progress').val()) + 1;
        $('#answer_progress').val(totalAnswer);
      }
    });
  });
</script>                                <li class="action">
                                    <div class="errorMessage error warning hide ng-hide" ng-show="(formPregunta.$invalid  &amp;&amp; isSubmit) || (datos.canalArrayId.length == 0 &amp;&amp; isSubmit) || (!datos.genero_id &amp;&amp; isSubmit)">
                                        <div data-alert="" class="alert-box error">
                                                <span><strong>No tan rápido, faltan algunos campos por llenar</strong>. Para poderte dar un resultado confible tienes que responder todas las preguntas.</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="action">
                                        <div class="row">
                                                <div class="large-5 medium-6 small-12 large-centered medium-centered columns">
                                                    <button class="button large nice expand" type="submit" onclick="ga('send', 'event', 'Descubra: Pregunta', 'Resultado', 'Ir al resultado');">
                                                                <span class="txt-btn">Ir al Resultado<br>
                                                                        <small>Descubre tu Tarjeta</small>
                                                                </span>
                                                        </button>
                                                </div>
                                        </div>
                                </li>
                        </ul>
                    </form>
        </div>
    </div>
</div>


</section>
{% endblock %}